@model _7_9_Task1.Models.ImageUpload

@{
    ViewBag.Title = "ViewImage";
}

<h2>ViewImage</h2>

<div>
    <h4>ImageUpload</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="~/Content/Images/Ganesh192735342.jpg" width="250" height="250" />
        </dd>
        <dd>
            <img src="~/Content/Images/ball193008675.jpg" width="250" height="250" />
        </dd>
        <dd>
            <img src="~/Content/Images/Ganesh192904819.jpg" width="250" height="250" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
